<header>
    <h1>Emmett Kapsner</h1>
    <p class="tagline">graphics programmer · IT guy · obsolete tech enjoyer</p>
    <nav>
        <a href="/index.html">[ Home ]</a>
        <a href="/pages/Kapsner Resume.pdf" target="_blank" rel="noopener noreferrer">[ Resume ]</a>
        <a href="https://github.com/kapsn023" target="_blank" rel="noopener noreferrer">[ Personal GitHub ]</a>
        <a href="https://github.com/ekapsner-ne" target="_blank" rel="noopener noreferrer">[ Work Github ]</a>
    </nav>
</header>
<hr>
